{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #f5f7fa;
    color: #222;
}

.topo{
    background: #304e6f;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h1 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.linhas span{
    width: 40px;
    height: 5px;
    border-radius: 3px;
}

.verde{background: #2ecc71;}
.amarelo{background: #f1c40f;}
.vermelho{background: #e74c3c;}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.formulario{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 1);
}

.formulario h1{
    color: #304e5f;
    font-size: 10px;
    margin-bottom: 20px;
}

.formulario label{
    display: block;
    margin-top: 15px;
    color: #555;
    font-size: 14px;
}

.formulario input,
.formulario textarea{
    width: 100%;
    margin-top: 6px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.formulario button{
    margin-top: 20px;
    padding: 10px 20px;
    background: #304e6f;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.formulario button:hover{
    background: #223e54;
}

.chat{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 1):
}

.chat h2{
    color: #304e6f;
    font-size: 18px;
    margin: 20px 0 10px 0;
}

.ilustracao{
    text-align: center;
}

.abas{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.abas button{
    background: transparent;
    border: none;
    color: #555;
    padding: 6px 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight: 600;
}

.abas .ativa{
    color: #304e6f;
    border-color: #304e6f;
}
