@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  /* Fundo e layout geral */
  body {
    background-color: #f9fbff;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* ====== CABEÇALHO ====== */
  header {
    background: linear-gradient(90deg, #0b2b5a, #06234b);
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;  
  }

  header .logo h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  nav {
    margin-top: 10px;
    background: linear-gradient(to right, #7494dd, #043686);
  }
  
  nav button {
    background-color: #04235e;
    color: white;
    border: none;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  
  nav button:hover {
    background-color: #b90b94;
  }
  
  /* ====== CONTEÚDO ====== */
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: repeat;
    background-position: center;
    padding: 50px 10px;
  }
  
  .fato-box {
    background-color: #223d7a;
    color: #fff;
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  }
  
  .fato-header {
    background-color: #df1b1b;
    color: #0b295a;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    padding: 8px 12px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .alerta {
    font-weight: 700;
    color: #ffffff;
    font-size: 1rem;
  }
  
  /* ====== RODAPÉ ====== */
  footer {
    background-color: #7494dd;
    color: #d0defc;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

 /* .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }*/
  